@charset "utf-8";

/* ==========================================================================
	Table of Content:
	`````````````````
	* To keep an overview of structure of your code, we make use of table of 
	* content. Table of content is use display the overall tree structure of your
	* Layout. 
	* (NOTE: Remove this commented code once you start developing the code.
	* Remove the following table of content and add your own as this is just and 
	* example to let you know)
	
	1. Eric Meyer's CSS Reset Code
	2. Clear Fix
	3. Font-Face Declaration
	4. Common Stylings
	5. Header
	6. Main 
		6.1 Enter Section Name
		6.2 Enter Section Name
		6.3 Enter Section Name
	7. Footer
========================================================================== */

/* 1. Eric Meyers Reset
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
========================================================================== */

html, body, div, span, applet, object, iframe,
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Align radios and text inputs with their label */
input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
 cursor: pointer;
}

strong {
 font-weight: bold;
 font-family: inherit;
 font-size: inherit;
}

em { font-style: italic; }

img {
 border: 0;
 vertical-align: middle;
}

sub,
sup {
 vertical-align: baseline;
 position: relative;
 font-size: 55%;
 line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2 Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 3. Font-Face declaration
========================================================================== */

 /* ======= Your styling goes below ======= */
 /* 4. common Stylings 
 ============================================================*/
 *{
	 transition:.3s ease-in-out;
	 scroll-behavior: smooth;
 }
 a{
	display:inline-block;
	text-decoration: none;
	color:black;
  }
  /* body {
	background: red;
 }

 .changeColor {
	background: green;
 } */

/* 5. wrapper
============================================================== */
.wrapper{
	max-width: 1476;
	width:89.40625%;
	margin:0 auto;
}
/* 6. header 
=================================================================*/
header{
	position:fixed;
	top:0;
	right:0;
	left:0;
	align-items: center;
	z-index:5;
}
header .wrapper{
	display:flex;
	padding:24px 0 20px 0;
	align-items: center;
}

.background{
	background:rgba(255,255,255,.9);
}
/* .background h1 a img{

} */
.background nav a{
	color:black;
}

/* this is the mistake i did i put wrapper into fixed that is why i was unable
to get the color change when it goes for scroll */
/* header .wrapper{
	display:flex;
	position:fixed;
	top:0;
	right:0;
	left:0;
	align-items: center;
	z-index:5;
	padding:24px 0 20px 0;
} */
h1{
	flex: 0 1 57%;
}
nav{
	flex: 0 1 43%;

}
nav ul{
	display:flex;
	justify-content: space-between;
}
nav a{
	color:white;
	font-size:14px;
	text-transform: uppercase;
}
nav a:hover{
	color:#353839;
}
/* .background { background: rgba(255, 0, 0, 0.5);} */
/* header.scroll{
	background:#f6f6f6;
	color: #eef;
} */
/* .nav-colored { background-color:#000; }
.nav-transparent { background-color:transparent;} */
/*7.Banner
=============================================================*/

.slider__first{
	background:url('../images/slide_01.jpg') no-repeat center/cover;
	padding:250px 0 250px 0;
}
.slider__content{
	text-align:center;
}
.slider__para{
	color:white;
	text-transform: uppercase;
	/* text-align:center; */
	font-size:15px;
	letter-spacing: 1px;
}
.slider__head{
	color:white;
	font-weight: 700;
	font-size: 40px;
	/* text-align:center; */
	margin:10px 0 30px 0;
	text-transform: uppercase;
}
.slider__para--content{
	/* text-align:center; */
	color:white;
	font-weight:300;
	margin:0 0 15px 0;
}
.discover{
	border:none;
	border-radius:20px;
	background:rgb(48, 184, 48);
	color:white;
	padding:17px 13px;
}
.discover:hover{
	background:green;
}
.slider__second{
	background:url('../images/slide_02.jpg') no-repeat center/cover;
	padding:250px 0 250px 0;
}
.slider__third{
	background:url('../images/slide_03.jpg') no-repeat center/cover;
	padding:250px 0 250px 0;
}
/*8. What we do 
============================================================================== */
.what{
	background:#f4f4f4;
	padding-bottom:80px;
}
.features{
	display:flex;
	text-align:center;
	justify-content: space-between;
	align-items: center;
}
.services{
	height: 150px;
	width:270px;
	background:#fff;
	padding:50px 0;
	box-shadow:5px 10px 18px 8px #888888;

	/* vertical-align: center; */
}
.services:hover{
	background: #a2cf8d;
	cursor: pointer;
	transform: scale(1.08);
	transition:.2s ease-in-out;
}
.icon1{
	background:url('../images/first-service-main.png');
}
.services:hover .icon1{
	background: url('../images/first-service-white.png');
}
.icon2{
	background: url('../images/second-service-main.png') no-repeat;
}
.services:hover .icon2{
	background: url('../images/second-service-white.png') no-repeat;
}
.icon3{
	background:url('../images/third-service-main.png');
}
.services:hover .icon3{
	background:url('../images/third-service-white.png');
}
.icon4{
	background:url('../images/fourth-service-main.png');
}
.services:hover .icon4{
	background:url('../images/fourth-service-white.png');
}
.icon1, .icon2, .icon3, .icon4{
	height: 32px;
	width: 32px;
	display:inline-block;
	margin-bottom:20px;
}
.feature__head{
	font-size:18px;
	font-weight: 600;
	margin-bottom:20px;
	letter-spacing: 1px;
}
.feature__para{
	letter-spacing:1px;
	font-size:16px;
	margin:0 10px 20px 10px;
}
.what_heading{
	padding:50px 0;
}
.services:hover .feature__head, .services:hover .feature__para, .services:hover h3{
	color:white;
}
h3{
	text-align:center;
	font-size:18px;
	font-weight:600;
	margin-bottom: 8px;
}
.line_dec{
	width: 60px;
	height: 3px;
	background-color: #121212;
	margin: 0 auto;
}
/* .line{
	border-bottom:1px solid #000;
	width:100px;
} */
/* 9. Offers
==============================================================*/
.offers{
	padding:100px 0;
	background: url('../images/what-we-do-bg.png') no-repeat center/cover;
}
.offers .wrapper{
	display:flex;
	justify-content: space-between;

}
.offer__content{
	flex:0 1 50%;
	
}
.offer__pics{
	flex:0 1 50%;
}
.offers h4 span{
	display:block;
}
.offers h4{
	font-size: 30px;
	color:white;
	margin: 0 0 20px 0;
	letter-spacing: 1px;
}
.offers p{
	font-size: 14px;
	color:white;
	margin: 0 0 20px 0;
	letter-spacing: 1px;
	line-height: 1.618;
	padding-right: 50px;
}
.offers .discover{
	background: #fff;
	color:black;
	margin:0 20px 0 0;
	padding:17px 30px;
}
.discover:hover{
	background: #000;
	color:white;
}
.purchase{
	border:none;
	border-radius:20px;
	background:#5c9d7d;
	color:white;
	padding:17px 30px;
}
.purchase:hover{
	background: grey;
	color:black;
}
.offers figure img{
	width:100%;
}
.offers figure{
	width:100%;
}
/* 10 Portfolio
============================================================*/
.portfolio{
	padding:100px 0;
}
.portfolio__stn{
	display:flex;
	justify-content: space-around;
	width: 27%;
    margin: 25px auto;
}
p{
	flex:0 1 10%;
}
h4{
	text-align:center;
	font-size:18px;
	font-weight:600;
	margin-bottom: 8px;
}
.image__wrapper{
	display:flex;
	overflow:auto;
	justify-content: space-between;
}
.portfolio figure{
	flex: 0 1 10.25%;
	margin:0 0 0 18px;
	padding:20px 0;
}
.portfolio figure:first-child{
	margin:0 0 0 0px;
}
/* 11 Our Blog
=============================================================*/
.blog{
	padding:80px 0;
	background:url('../images/blog-bg.png')
}
.blog h4{
	color:white;
}
.blog .line_dec{
	background: #fff;
}
.blog__wrapper{
	display:flex;
	padding:60px 0 0 0;
}
.blog__left{
	position: relative;
	width:80%;
	padding: 0 20px 20px 0;
	/* overflow:hidden; */
}

.blog__para--wrapper{
	position:absolute;
	/* width:100%;
	in this it extends a little */
	color:white;
	background:rgba(0, 0, 0, 0.5);
	bottom:20px;
	left:0;
	right:20px;
	padding:20px;
}
.blog__full--wrapper{
	position:relative;
	width:80%;
	padding: 0 20px 20px 0;
}
.blog__right{
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}
.blog__right .blog__full--wrapper{
	position:relative;
	width:96.7%;
	padding: 0 20px 20px 0;
}
.blog .head{
	font-size:20px;
	font-weight: 600;
	margin-bottom:10px;
	display:inline-block;
}
.blog .bold{
	font-weight: 600;
}
/* Stats section
=============================================================== */
.stats .wrapper{
	display:flex;
	justify-content: space-between;
	padding:80px 0;
}
.stats .stats__box{
	text-align:center;
	padding:50px;
	background: #f4f4f4;
	box-shadow: 0px 0px 25px 0px #888888;
}
.stats p{
	color:#818181;
	font-size:16px;		
}
.stats span{
	display:block;
	color:#a2cf8d;
	font-size:24px;
	font-weight: 700;
	margin-bottom:15px; 
}
.stats__box:hover{
	transform: scale(1.05);
	cursor:pointer;
}
/* Contact Us
================================================================*/
.contact{
	background: url('../images/contact-bg.png') no-repeat center/cover;
	padding:72px 0 0 0;
}
.contact h5{
	text-align:center;
	font-size:18px;
	font-weight: 600;
	color:white;
	margin:0 0 10px 0;
}
.contact .line_dec{
	background:white;
}
.contact__container{
	display:flex;
	padding:80px 0;
	justify-content: space-between;
}
.contact figure{
	padding: 0 20px;
}
form {
	flex: 0 1 50%;
	padding:0 20px;
}
input[type="text"]{
	background: #353a3c;
	width:40%;
	border:none;
	padding:14px;
	font-size:16px;
	margin-right: 10px;
	color:white;
}

input[type="email"]{
	background: #353a3c;
	width:40%;
	border:none;
	padding:14px;
	font-size:16px;
	color:white;
}
textarea{
	display:block;
	background: #353a3c;
	width:88.4%;
	border:none;
	padding:14px;
	font-size:16px;
	height:52%;
	margin-top:20px;
	color:white;
}


input[type="submit"]{
	border:none;
	background: rgb(50, 201, 50);
	border-radius:20px;
	padding:10px 15px;
	font-size:14px;
	margin-top:20px;
	color:white;
}
input[type="submit"]:hover{
	background: rgba(50,201,50,.5);
	color:white;
}
::placeholder{
	background: #939494;
}
/* 12.Footer
===============================================================*/
footer{
	background: #202628;
	padding:20px 0;
}
footer .wrapper{
	display:flex;
	align-items: center;
}
footer .copy{
	flex:0 1 80%;
	color: white;
}
.social{
	flex: 0 1 20%;
	display:flex;
	justify-content: space-evenly;
	border-radius:50%;
}
.social li{
	border-radius:50%;
	background: #002233;
	padding:20px 22px;
	margin-left:5px;
}
.social li:first-child{
	padding:20px 26px;

}
.social li a{
	color:white;
}
.social li:hover{
	background:white;
}
.social li:hover a{
	color:black;
}